
.main-page {
    background-color: #720; 
    color: #fff;            
    min-height: 100vh;       
    display: flex;
    flex-direction: column;
  }
  
 
  .header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
  }

  .content {
    flex: 1; 
    padding: 40px;
  }
  
  .content h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  

  .footer {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
  }